# DO NOT CHECK IN THIS FILE WITH REAL DATA
# this is only a template to indicate variables needed in your .env files
# project supports .env, .env.development, .env.development.local

DB_TYPE= postgres
DB_HOST=3.133.209.250
DB_USERNAME=xxxx
DB_PORT=xxxx
DB_DATABASE=postgres
DB_PASSWORD=icpostgresql
PORT=4000
JWT_SECRET=
# synchronize=true

# MAIL_USER=noreply@scoop.love
# MAIL_PASS=
# MAIL_HOST=ecngx264.inmotionhosting.com
# MAIL_PORT=465

PORT=4000
JWT_SECRET=secret
# JWT_EXPIRATION=86400

BE_FILE_SERVER_URL=