<container>

  <row>
      <columns small="12">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
          <tbody>
            <tr>
              <td align="center" valign="top">
                <table width="360px" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="width:360px;min-width:360px;font-size:0pt;line-height:0pt;font-weight:normal;margin:0;padding:0">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td style="padding:40px 20px">
                                <table width="300px" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td
                                        style="border-radius:10px 10px 0 0;border-top-width:1px;border-top-color:#929796;border-top-style:solid;border-left-width:1px;border-left-color:#929796;border-left-style:solid;border-right-width:1px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              border-right-color:#929796;border-right-style:solid; border-top-right-radius: 100px; padding: 30px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                            <tr>
                                              <td style="font-size:0pt;line-height:0pt;" align="left">
                                                <a href="#" style="color:#000001;text-decoration:none" target="_blank"
                                                  data-saferedirecturl="#"><img
                                                    src="https://scoop-general-assets.s3.amazonaws.com/scoop-logo-text-50.png" width="149"
                                                    height="40" border="0" alt="" class="CToWUd" data-bit="iit"></a>
                                              </td>
                                            </tr>
                                                                              </tbody>
                                                                              </table>
                                                                              </td>
                                                                              </tr>
                                                                              <tr>
                                                                                <td
                                                                                  style="border-left-width:1px;border-left-color:#929796;border-left-style:solid;border-right-width:1px;border-right-color:#929796;border-right-style:solid;color:#5A6571;font-family:Times,'Times New Roman',serif;font-size:26px;line-height:42px;font-weight:normal;min-width:auto!important;padding:0 30px"
                                                                                  align="center">
                                                                                  <strong>
                                                                                    <%= code %>
                                                                                  </strong>
                                                                                </td>
                                                                                </tr>
                                                                                <tr>
                                                                                <td
                                                                                  style="border-left-width:1px;border-left-color:#929796;border-left-style:solid;border-right-width:1px;border-right-color:#929796;border-right-style:solid;color:#5A6571;font-family:Times,'Times New Roman',serif;font-size:22px;line-height:42px;font-weight:normal;min-width:auto!important;padding:30px 30px;"
                                                                                  align="left"><strong>Enter the verfication<br />
                                                                                    code on your device to signin.<br>
                                                                                  </strong></td>
                                                                                
                                                                                </tr>
                                                                                <tr>
                                                                        <td
                                                                          style="border-left-width:1px;border-left-color:#929796;border-left-style:solid;border-right-width:1px;border-right-color:#929796;border-right-style:solid;color:#5A6571;font-family:Times,'Times New Roman',serif;font-size:22px;line-height:42px;font-weight:normal;min-width:auto!important;padding:20px 30px;"
                                                                          align="left">
                                                                          <strong>Code expires in 15<br />
                                                                            minutes.<br>
                                                                        </td>
                                                                        </tr>
          <tr>
            <td style="border-left-width:1px;border-left-color:#929796;border-left-style:solid;padding:30px 30px 0">
              <tr>
                                                                                  <td style="padding:28px 30px">
                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                      <tbody>
                                                                                        <tr>
                                                                                                  <td style="padding-bottom:4px">
                                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                                      <tbody>
                                                                                                        <tr>
                                                                                                          <td width="10" style="font-size:0pt;line-height:0pt" align="left"></td>
                                                                                                          <td align="right">
                                                                                                  
                                                                                                  
                                                                                                          </td>
                                                                                                        </tr>
                                                                                                        </tbody>
                                                                                                        </table>
                                                                                                        </td>
                                                                                                      </tr>
                                                                                                      <tr>
                                                                                                        <td
                                                                                                          style="padding-bottom:10px;color:#aaaaaa;font-family:'ModernEra-Regular',Arial,sans-serif;font-size:14px;line-height:25px;min-width:auto!important"
                                                                                                          align="left">
                                                                                                          <p style="color:#929796">@Copyright
                                                                                                            Scoop LLC <%= year %> <br />
                                                                                                              <a href="https://scoop.love/privacy-policy/" target="_blank"
                                                                                                                data-saferedirecturl="https://scoop.love/terms-of-use/"><span
                                                                                                                  style="text-decoration:none;color:#929796">Privacy
                                                                                                                  Policy</a>
                                                                                                              |
                                                                                                              <a href="https://scoop.love/terms-of-use/" target="_blank"
                                                                                                                data-saferedirecturl="https://scoop.love/terms-of-use/"><span style="text-decoration:none;color:#929796">Terms
                                                                                                                  of Condition</span>
                                                                                                          </p>
                                                                                                        </td>
                                                                                                      </tr>
          </tr>
          </tbody>
          </table>
          </td>
          </tr>
                                              </tbody>
                                              </table>
                                              </td>
                                              </tr>
                                              </tbody>
                                              </table>
                                              </td>
                                              </tr>
                                              </tbody>
                                              </table>
                                              </td>
                                              </tr>
                                              </tbody>
                                              </table>
      </columns>
  </row>
</container>