<style type="text/css">
    .main,
    .body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
<container>

    <row>
        <columns small="12">
            <table width="100%" cellpadding="10" cellspacing="10" border="2">
                <tbody width="320px">
                    <div
                        style="width: 100%; display: flex; flex-direction: column;  justify-content: center; align-items: center;">
                        <div style="width:320px; padding:30px; border-top-right-radius:100px; display:flex; flex-direction:column; 
                           border-bottom:none;">
                            <tr>
                                <img src="https://scoop.love/wp-content/uploads/2020/09/scoop-logo-text-50.png"
                                    style="width:120px; height: 40px; position: absolute; margin-top: 40px; margin-left: 60px;" />
                            </tr>
                            <tr>
                                <img src="https://ca.slack-edge.com/T02NTLCBXS7-U02ND0PMHHD-4674a58f2254-512" style="margin-top: -500px;   width: 180px;  height: 180px; border-radius: 10px;
                                position: absolute; margin-left: 44px;" />
                            </tr>
                            <tr>
                                <h1 style="position: absolute; margin-top: -480px;
                                 font-family: 'Poppins'; font-style: normal; font-weight: 600; font-size: 36px; line-height: 40px; 
                                 color: #5A6571; margin-left: 41px;">Natalie liked <br /> you back!
                                </h1>
                            </tr>
                            <tr>
                                <button style="background:#47c5b6; width:100%; border-radius:50px; border:none;  
                                position: absolute; height:45px; color: white; font-size:18px; margin-top: -400px;
                                 margin-left: 35px;">View
                                    Natalie</button>
                            </tr>
                        </div>

                        <div
                            style="width:360px; justify-content: center; align-items:center; margin-top:10px; 
                            display:flex; flex-direction:column;  margin-top: -120px; position: absolute;  margin-left: 99px;">
                            <p style="color:#929796">@Copyright Scoop LLC 2022 <br />Privacy Policy | Terms of Condition
                            </p>
                        </div>

                    </div>
                </tbody>
            </table>
        </columns>
    </row>
</container>